.container {
    display: flex;
    padding: 10px;
}

.menu {
    padding: 10px;
    padding-right: 30px;

}

.container-title {
    display: flex;
    padding: 10px;
    margin-left: 40px;
    flex-direction: column;

}

.contenu {
    display: flex;
    flex-direction: column;
    padding: 50px;
}


.bleu {
    background-color: rgb(157, 204, 228);
}

.vert {
    background-color: rgb(114, 241, 199);
}

.jaune {
    background-color: #BB2;
}

.rouge {
    background-color: #E24;
}