.container {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}

.menu {
    padding: 10px;
    padding-right: 30px;

}

.container-title {
    display: flex;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.bleu {
    background-color: rgb(157, 204, 228);
}

.vert {
    background-color: rgb(114, 241, 199);
}

.jaune {
    background-color: #BB2;
}

.rouge {
    background-color: #E24;
}