.container {
    display: flex;
    padding: 10px;
}

.menu {
    padding: 10px;
    padding-right: 30px;

}

#currentpage {
    color: rgb(189, 39, 39);
    font-weight: bold;
}

.container-title {
    display: flex;
    padding: 10px;
    margin-left: 40px;
    flex-direction: column;

}

.contenu {
    display: flex;
    flex-direction: column;
    padding: 50px;
}


.bleu {
    background-color: rgb(157, 204, 228);
}

.vert {
    background-color: rgb(114, 241, 199);
}

.jaune {
    background-color: #BB2;
}

.rouge {
    background-color: #E24;
}